<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Icon Depot</title>
</head>
<body>
   <h1>Welcome to Icon Depot</h1>
   <p>Directories</p>
   <ul>
       <li><span class="directory">/</span> : this page</li>
       <li>[GET]
           <ul>
               <li><span class="directory">/icons-available</span> : get a list of icons that can be queried</li>
               <li><span class="directory">/categories-available</span> : get a list of categories that can be queried</li>
               <li><span class="directory">/tags-available</span> : get a list of tags that can be queried</li>
               <li><span class="directory">/icon/&lt;icon_name&gt;</span> : specify the name of icon and get a dict/json for the icon's html</li>
           </ul>
       </li>
       <li>[POST]
           <ul>
               <li><span class="directory">/icons</span> + JSON request : similar to /icon, but get html for multiple icons</li>
               <li><span class="directory">/icons-value</span> + JSON request : similar to /icons, but with value field added with same name of icon</li>
            </ul>
       </li>
   </ul>
   <p>
       The JSON file for the POST request should look like the following:<br/>
       {<br/>
           "icon_list": []<br/>
       }<br/>
       Where [] is an array filled with icon names as strings (e.g., "face", "pets")<br/>
   </p>
</body>
</html>
